extends layout

block main
  if todoLists === undefined || todoLists.length === 0
    p#no_list You don't have any todo lists. Why not create one?
  else
    ul#lists
      //- each todoList in todoLists
      //-   //- li(class=todoList.isDone() ? "done" : "")
      //-   li(class=store.isDoneTodoList(todoList) ? "done" : "")
      each todoList, todoIndex in todoLists
        - let todoInfo = todosInfo[todoIndex];
        li(class=todoInfo.isDone ? "done" : "")  
          a(href=`/lists/${todoList.id}`)
            h2= todoList.title
            //- p #{todoList.allDone().size()} / #{todoList.todos.length}
            //- p #{todoList.allDone().size()} / #{todoList.size()}
            //- p #{todoList.todos.filter(todo => todo.done).length} 
            p #{todoInfo.countDoneTodos} / #{todoInfo.countAllTodos}

block headerLinks
  .actions
    a.add(href="/lists/new") New List
